body {
    margin: 0;
    background-color: black;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a {
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
    transition: 0.2s;
}

nav a.active {
    background-color: whitesmoke;
    color: black;
    transition: 0.4s;
    box-shadow: 0px 0px 8px whitesmoke;
}

nav a:hover {
    text-decoration: underline;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    transition: 0.4s;
}

.sections {
    overflow: auto;

    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    
    overflow: hidden;
}

section#home {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
section#home p{
    margin: 2rem;
}

section#home h1 {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 20px;
}

.scroll-down {
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;   
    animation: slide-down 1s infinite alternate ease-in-out;
}

@keyframes slide-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}

section#skills {
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    width: 100%;
}

.skills-list, .project-list, .social-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-left: 2rem;
}

.project-list {
    flex-direction: column;
}

.skills-list {
    max-width: 800px;
}

.skill, .project, .social {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    color: black;
    padding: 2rem;
    box-shadow: none;
    transition: .4s;
}

.project {
    max-width: 24rem;
}

.skill {
    flex: 1 0 30%;
}

.skill:hover, .project:hover, .social:hover {
    transition: .4s;
    box-shadow: 0px 0px 10px whitesmoke;
}

.project:hover {
    cursor: pointer;
}

.project:hover h1 {
    text-decoration: underline;
}

.skill:hover img, .project:hover img, .social:hover img {
    box-shadow: 0px 0px 10px rgba(169, 168, 168, 0.7);
    transition: .4s;
}

.skill h1,  .project h1, .social h1 {
    margin-bottom: 0;
}

.skill img, .project img, .social img {
    padding: 20px;
    border-radius: 20px;
    margin-right: 1rem;
    box-shadow: none;
    transition: .4s;
    background-color: antiquewhite;
    width: 50px;
}

.project img#hotel {
    background-color: antiquewhite;
}
.project img#kindergarten {
    background-color: rgb(215, 250, 232);
}
.project img#workshop {
    background-color: rgb(247, 215, 250);
}

.skill img#dotnet {
    background-color: rgb(16, 59, 200);
}

.skill img#java {
    background-color: rgb(221, 82, 35);
}
.skill img#python {
    background-color: rgb(221, 35, 109);
}
.skill img#html {
    background-color: rgb(150, 35, 221);
}
.skill img#cpp {
    background-color: rgb(12, 196, 45);
}
.skill img#sql {
    background-color: rgb(35, 150, 221);
}
.skill img#more {
    background-color: rgb(195, 53, 58);
}

section#projects {
    flex-direction: row;
    justify-content: space-evenly;
}


section#socials {
    justify-content: space-evenly;
    flex-direction: row;
}

label {
    text-decoration: underline;
}

.social-list {
    width: 40%;
    flex-direction: row;
    align-content: center;
}

.social {
    list-style-type: none;
    color: black;
    flex: 1;
    padding: 1rem;
}

.social:hover {
    text-decoration: underline;
}

.social h1 {
    margin: 0;
}

.social:nth-child(1) {
    flex: 1 100%;
}

img#github {
    background-color: antiquewhite;
}

img#telegram {
    background-color: rgb(200, 240, 255);
}

img#linkedin {
    background-color: rgb(178, 213, 246);
}

img#instagram {
    background-color: rgb(246, 207, 201);
}

img#codewars {
    background-color: rgb(254, 210, 239);
}

.input {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    width: 15rem;
    height: 3rem;
    color: whitesmoke;
    padding: 0px 20px;
    font-size: 1rem;
    font-family: Montserrat;
    transition: 0.2s;
}

.input:focus {
    background-color: whitesmoke;
    color: black;
    transition: 0.4s;
    outline: 2px solid black;
}


.circle {
    z-index: -1;
    height: 2000px;
    width: 2000px;
    margin: -1000px;
    background: rgb(233,72,72);
    position: absolute;
}

.circle#three {
    background: radial-gradient(circle, rgba(88, 219, 178, 0.8) 0%, rgba(104,183,199,0) 70%);
}

.circle#one {
    background: radial-gradient(circle, rgba(48, 106, 240, 0.7) 0%, rgba(104,183,199,0) 56%);
    left: 0;
}
.circle#two {
    background: radial-gradient(circle, rgba(68, 76, 232, 0.7) 0%, rgba(104,183,199,0) 56%);
    right: 0;
}



.circle#six {
    background: radial-gradient(circle, rgba(44, 19, 207, 0.7) 0%, rgba(104,183,199,0) 56%);
    left: 0;
}

.circle#five {
    background: radial-gradient(circle, rgba(44, 19, 207, 0.7) 0%, rgba(104,183,199,0) 56%);
    right: 0;
}
.circle#four {
    background: radial-gradient(circle, rgb(72, 108, 229) 0%, rgba(104,183,199,0) 66%);
}



.circle#nine {
    background: radial-gradient(circle, rgb(237, 154, 152) 0%, rgba(104,183,199,0) 70%);
}

.circle#seven {
    background: radial-gradient(circle, rgb(100, 76, 225) 0%, rgba(104,183,199,0) 56%);
    left: 0;
}
.circle#eight {
    background: radial-gradient(circle, rgb(100, 76, 225) 0%, rgba(104,183,199,0) 56%);
    right: 0;
}



.circle#twelve {
    background: radial-gradient(circle, #07beb8 0%, rgba(104,183,199,0) 86%);
}

.circle#ten {
    background: radial-gradient(circle, #c4fff9 0%, rgba(104,183,199,0) 56%);
    left: 0;
}
.circle#eleven {
    background: radial-gradient(circle, #c4fff9 0%, rgba(104,183,199,0) 56%);
    right: 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .skills-list, .project-list, .social-list {
        margin-left: 0;
        gap: 10px;
    }
    
    .social-list {
        width: auto;
    }

    .skill, .project, .social {
        padding: 0.6rem;
    }

    .project {
        padding: 1rem;
    }

    .project h1 {
        margin-bottom: 0.5rem;
    }

    .skill h1, .project h1, .social h1 {
        font-size: medium;
        margin-top: 0;
    }
    .skill p, .project p, .social p {
        font-size: small;
        margin: 0;
    }

    .skill img, .project img, .social img {
        width: 30px;
        padding: 10px;
        margin-right: 0.5rem;
        border-radius: 12px;
    }

    .scroll-down {
        margin-bottom: 8rem;
    }

    a {
      -webkit-tap-highlight-color: transparent;  
    }
}

@media screen and (max-width: 425px) {
    nav {
        gap: 0.5rem;
    }
}